PORT=3000
MONGO_URI=mongodb+srv://snehakumari4580_db_user:dvYP2sDtFP5gsdPF@cluster0.eoerhfr.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

NODE_ENV=development

RESEND_API_KEY=re_JvTpTrmw_D3Z8gL5Z4brWiBUFYU8Z2WSx

JWT_SECRET=mysecretkey123

EMAIL_FROM=snehakumari4580@gmail.com
EMAIL_FROM_NAME="ChatifyApp"

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=dlqj6cnid
CLOUDINARY_API_KEY=415172338769675
CLOUDINARY_API_SECRET=BEa-qvF1bMI6MvqFGnTLPxSOIj0

ARCJET_KEY=dummy_arcjet_key
ARCJET_ENV=development